body, html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: url(Imagens/header.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
    text-align: center;
    margin-top: 290px;
    color: #e2dbdb;
}


hr {
    border: 1.5px solid #f05044;
    width: 65px;
    background: #f05044;
}

.hr2:hover {
    background: #fff;
    border: 1.5px solid #fff;
}

.btn-xl {
    background: #f05044;
    color: #fff;
    border: none;
    border-radius: 20px;
    text-transform: uppercase;
    padding: 12px;
}

.btn-xl:hover {
    background-color: black;
    color: #fff;
    border: 4px solid #f05044;
}

.header-1 {
    margin-bottom: 11rem;
}